<launch>
  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0.5"/>
  <arg name="yaw_pos" default="0"/>
  <arg name="robot_name" default="segway"/>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

  

  <rosparam file="/home/plus/Work/segway_ws/src/segway_e1_description/config/segway_joint.yaml" command="load"/>
  <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller  right_rear_velocity_controller left_rear_velocity_controller"/> 


  <arg name="model" default="$(find xacro)/xacro --inorder '/home/plus/Work/segway_ws/src/segway_e1_description/urdf/segway_e1.xacro'"/>
   <param name="robot_description" command="$(arg model)" />
   <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos)"/> 
  <!-- <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find segway_e1_description)/urdf/segway_e1.xacro -urdf -model segway_e1_description"
    output="screen" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>